server/HELP.md
server/target/
server/!.mvn/wrapper/maven-wrapper.jar
server/!**/src/main/**/target/
server/!**/src/test/**/target/
server/
server/### STS ###
server/.apt_generated
server/.classpath
server/.factorypath
server/.project
server/.settings
server/.springBeans
server/.sts4-cache
server/
server/### IntelliJ IDEA ###
server/.idea
server/*.iws
server/*.iml
server/*.ipr
server/
server/### NetBeans ###
servergit/nbproject/private/
server/nbbuild/
server/dist/
server/nbdist/
server/.nb-gradle/
server/build/
server/!**/src/main/**/build/
server/!**/src/test/**/build/
server/### VS Code ###
server/.vscode/
